<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">
    ID :<input type="text" th:field="*{id}" />
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"></span><br />
    Task Name :<input type="text" th:field="*{taskname}" />
    <span th:if="${#fields.hasErrors('taskname')}"
          th:errors="*{taskname}"></span><br />
    Due Date :<textarea row="3" th:field="*{duedate}" />
    <span th:if="${#fields.hasErrors('duedate')}"
          th:errors="*{duedate}"></span><br />

    Priority:<textarea row="3" th:field="*{priority}" />
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span>
    <br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>